body {
  background-color: rgb(124, 84, 51);
}
button {
  border-radius: 25%;
  border: none;
}
button.none {
  background-color: gray;
}

.container {
  height: 600px;
  width: 400px;
  border-radius: 25px;
  overflow: hidden;
  background-color: gray;
}
.input {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}
.history {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
